@media screen and (max-width:980px){
    .nav-menu{
        display: block;
        position: relative;
    }
    .icon{
        display: block;
        color: white
    }
    
    .manu{
        position: absolute;
        display: none;
        background-color: rgb(224, 219, 219);
        min-width: 300px;
        box-shadow: 0 8px 10 goldenrod;
        z-index: 1;
    }
    .manu a{
        padding: 10px;
        display:block;
        text-align: center;
    }
    .nav-manu:hover .manu{
        display:block;
        position:absolute;
        right: 0px;
    }
    .manu a:hover{
        background-color:gray;
        display: block;
    }
    marquee img{
        height: 50px;
        padding-left: 30px;
    }
    .flexe{
        margin: 80px auto;
    }
    .box{
        width: 300px;
        height: 200px;
    }
    .raght-side{
        width: 100%;
    }
    .laft-side{
        width: 100%;
        padding: 30px 50px;
    }
    .img-right{
        flex-direction: column-reverse;
    }
    .lift-text{
        width: 100%;
        padding: 0px 40px;
    }
    .right-img{
        width: 100%;
        margin: auto;
    }
    .right-img img{
        width: 100%;
        padding: 0px 50px;
    }
}    
@media screen and (max-width:510px) {
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.3rem;
    }
    h3{
        font-size: 1.3rem;
    }
    p{
        font-size: 1rem;
    }
    .left-animation{
        font-size: 30px;
    }
    .card-text{
        font-size: 16px;
    }
    .left-side{
        width: 100%;
        margin-top: 50px;
        padding: 40px;
    }.right-img img{
        height: 400px;
    }
    .butto{
        transition: 0.8s linear;
    }
    .butto:focus{
        transform: translateX(150px);
        animation: color 2s linear infinite;
    }
    @keyframes color {
        0%{
            background-color: rgb(225, 13, 31);
            color: white;
        }
        50%{
            background-color: rgb(255, 174, 0);
            color: black;
        }
        100%{
            background-color: rgb(13, 41, 225);
            color: white;
        }
    }
    .one{
        padding: 20px;
    }
}
@media screen and (max-width:340px) {
    .right-img img{
        height: 300px;
    }
    .input{
        margin: auto;
    }
}